{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Respuesta</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <div class="content">
    <h1 class="titulo">Actualizar Respuesta</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Actualizar</button>
        <a href="{% url 'crud2' %}" class="back-btn">Volver a la lista</a>
    </form>
    </div>
</body>
</html>

